.main-createchat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: var(--background);
    color: var(--text-div);
    z-index: 1;
}

.create-chat {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.chats {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title-groupchat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 54px;
    width: fit-content;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 600;
    color: var(--open-chat-text);
    background-color: var(--open-chat-color);
    padding: 0px 18px;
    border-radius: 10px;
}

.title-groupchat:hover {
    cursor: pointer;
}

.open-chats {
    height: 100%;
    max-height: 822px;
    width: 100%;
    overflow: auto;
    padding: 24px 0px;
    overflow: hidden;
}

.start-chat {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    z-index: 0;
}

.top-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    padding: 12px 24px;
    font-size: 14px;
    height: 100%;
    width: 100%;
    outline: none;
    border: 0px;
    background-color: var(--background);
    color: var(--text-primary);
    border-left: 1px solid var(--border-super-light);
    border-right: 1px solid var(--border-super-light);
}

.top-input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 2px 6px;
    outline: 0px;
    border: 0px;
}

.input-sendmessage {
    box-sizing: border-box;
    padding: 12px 24px;
    font-size: 14px;
    height: fit-content;
    width: fit-content;
    border: 0;
    background-color: var(--create-room-button);
    border-radius: 10px;
    color: var(--white-text);
    font-size: 18px;
}

.input-sendmessage:hover {
    background-color: var(--create-room-button-hover);
    cursor: pointer;
}

::placeholder {
    color: var(--text-primary);
}

.top-start-chat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    font-size: 14px;
    box-sizing: border-box;
    color: rgba(0,0,0,0.6);
    min-height: 54px;
    height: fit-content;
    width: 100%;
    background-color: var(--background);
    color: var(--text-primary);
    border-bottom: 1px solid var(--border-super-light);
}

.first-part {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    font-size: 14px;
    box-sizing: border-box;
    color: rgba(0,0,0,0.6);
    min-height: 54px;
    width: 100%;
    background-color: var(--background);
    color: var(--text-primary);
    border-bottom: 1px solid var(--border-super-light); 
}

.second-part {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    font-size: 14px;
    box-sizing: border-box;
    color: rgba(0,0,0,0.6);
    min-height: 54px;
    width: 100%;
    background-color: var(--background);
    color: var(--text-primary);
    border-bottom: 1px solid var(--border-super-light); 
}

.main-start-chat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 32px;
    color: var(--light-text);
    height: 100%;
    width: 100%;
    background-color: var(--group-chat-index-background);
    color: rgb(180, 180, 180);
    text-shadow: 0px 1px 0px rgba(220, 220, 220, 0.5);
    box-sizing: border-box;
    border-left: 1px solid var(--border-super-light);
}

.bottom-start-chat {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    min-height: 63px;
    width: 100%;
    border-top: 1px solid var(--border-super-light);
    border-left: 1px solid var(--border-super-light);
}

#span-description {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 24px;
}

#preview-img {
    border: 0px;
    height: 248px;
    width: fit-content;
    align-items: flex-start;
    display: flex;
    gap: 48px;
    overflow: hidden;
    padding: 24px;
    box-sizing: border-box;
}

.preview-photo {
    /* padding: 24px; */
    margin-left: 24px;
    height: 100px;
    width: 100px;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 10px;
}

.react-tag {
    position: relative;
    width: 100%;
}

.react-tag-div {
    width: 100%;
}

.react-tag-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    padding: 12px 24px;
    font-size: 14px;
    height: 100%;
    width: 100%;
    outline: none;
    border: 0px;
    background-color: var(--background);
    color: var(--text-primary);
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    left: 0px;
    width: fit-content;
    z-index: 1;
    height: fit-content;
    border-radius: 8px;
    padding: 6px 12px;
    font-weight: 700;
    color: var(--white-text);
    background-color: var(--create-room-button);
}

.react-tag-selected {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    position: absolute;
    top: 132px;
    right: 0px;
    align-items: center;
    padding: 0px 24px;
    gap: 12px;
    height: 82px;
    max-width: 650px;
    max-height: 300px;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
}

.react-tag-suggestion {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    left: 12px;
    bottom: 36px;
    height: 24px;
    width: fit-content;
    background-color: var(--create-room-button);
    box-shadow: 0px 8px 12px -4px rgba(0,0,0,0.1);
    border: 1px solid var(--border-super-light);
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    z-index: 10;
}

.react-tag-suggestion:hover {
    cursor: pointer;
}

.react-tag-suggestion ul {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    list-style: none;
    padding: 0px 12px;
    margin: 0px;
}

.react-tag-suggestion mark {
    background-color: transparent;
    color: var(--text-primary);
}

.tag button {
    outline: 0px;
    background-color: transparent;
    border: 0px
}

.tag button:hover {
    cursor: pointer;
}

#password-protected {
    margin: 0px;
    margin-right: auto;
    color: var(--text-primary);
}

.password-chat-input {
    outline: 0px;
    border-radius: 8px;
    border: 1px solid var(--border-super-light);
    padding: 4px 12px;
}

.password-lock-svg {
    fill: var(--main-div);
    height: 22px;
}