.main-createchat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: var(--background);
    color: var(--text-div);
    z-index: 1;
}

.create-chat {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.chats {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title-groupchat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 54px;
    width: fit-content;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 600;
    color: var(--open-chat-text);
    background-color: var(--open-chat-color);
    padding: 0px 18px;
    border-radius: 10px;
}

.title-groupchat:hover {
    cursor: pointer;
}

.open-chats {
    height: 100%;
    max-height: 822px;
    width: 100%;
    overflow: auto;
    padding: 24px 0px;
    overflow: hidden;
}

.start-chat {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    z-index: 0;
}

.top-input {
    box-sizing: border-box;
    padding: 12px 24px;
    font-size: 14px;
    height: 100%;
    width: 100%;
    outline: none;
    border: 0;
    background-color: var(--background);
    color: var(--text-primary);
    border-left: 1px solid var(--border-super-light);
    border-right: 1px solid var(--border-super-light);
}

.input-sendmessage {
    box-sizing: border-box;
    padding: 12px 24px;
    font-size: 14px;
    height: fit-content;
    width: fit-content;
    border: 0;
    background-color: var(--create-room-button);
    border-radius: 10px;
    color: var(--white-text);
    font-size: 18px;
}

.input-sendmessage:hover {
    background-color: var(--create-room-button-hover);
    cursor: pointer;
}

::placeholder {
    color: var(--text-primary);
}

.top-start-chat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    font-size: 14px;
    box-sizing: border-box;
    color: rgba(0,0,0,0.6);
    min-height: 54px;
    width: 100%;
    background-color: var(--background);
    color: var(--text-primary);
    border-bottom: 1px solid var(--border-super-light);
}

.main-start-chat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 32px;
    color: var(--light-text);
    height: 100%;
    width: 100%;
    background-color: var(--group-chat-index-background);
    color: rgb(180, 180, 180);
    text-shadow: 0px 1px 0px rgba(220, 220, 220, 0.5);
    box-sizing: border-box;
    border-left: 1px solid var(--border-super-light);
}

.bottom-start-chat {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    min-height: 63px;
    width: 100%;
    border-top: 1px solid var(--border-super-light);
    border-left: 1px solid var(--border-super-light);
}