.badge-profile {
    box-sizing: border-box;
    padding: 6px 12px;
    border-radius: 6px;
    text-align: center;
    width: 108px;
    color: var(--white-text);
    font-weight: 600;
}

.username {
    background-color: var(--description-badge);
}

.email {
    background-color: var(--description-badge);
}

.mini {
    font-size: 12px;
    padding: 4px 12px;
}

.description {
    background-color: var(--description-badge)
}