.badge {
    /* border: 1px solid var(--border-super-light); */
    box-sizing: border-box;
    padding: 4px 12px;
    border-radius: 6px;
}

.mini {
    font-size: 12px;
    padding: 4px 12px;
    border: 1px solid var(--border-tag);
    font-weight: 600;
    color: var(--text-primary);
}

.description {
    background-color: var(--description-show-badge)
}