html {
  display: flex;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: [first] 288px [second] auto [third] 288px [last];
  grid-template-rows: [first] 54px [second] auto [third] 54px [last];
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
