html {
  display: flex;
  height: 100%;
  border: 1px solid var(--border-primary);
  overflow: hidden;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: [first] 288px [second] auto [third] 288px [last];
  grid-template-rows: [first] 54px [second] auto [third] 54px [last];
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: blackberry;
  src: url("./Fonts/BlackberryJamPersonalUse-rXOB.ttf");
}

@font-face {
  font-family: cafe-francoise;
  src: url("./Fonts/CafeFrancoise-EapP9.ttf");
}

@font-face {
  font-family: goldoni;
  src: url("./Fonts/Goldoni-65vo.ttf");
}

@font-face {
  font-family: cavilant;
  src: url("./Fonts/Cavilant-X3jaZ.ttf");
}

@font-face {
  font-family: pixel;
  src: url("./Fonts/Pixel.ttf");
}

@font-face {
  font-family: sofia-sans;
  src: url("./Fonts/SofiaSans-VariableFont_wght.ttf");
}