.users-in-chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 288px;
    min-width: 288px;
    border-left: 1px solid var(--border-super-light);
    background-color: var(--active-user-body);
    color: var(--text-primary);
}

.active-users-title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 81px;
    width: 100%;
    margin: 0px;
    border-bottom: 1px solid var(--border-super-light);
    box-sizing: border-box;
    background-color: var(--active-user-title);
}

.active-user-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px;
    list-style: none;
    padding: 24px 6px;
    gap: 12px;
}